<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-inline" (ngSubmit)="addTask();" #taskForm="ngForm">
                <div class="form-group">
                    <label for="content-field" class="sr-only"></label>
                    <input type="text" class="form-control" id="content-field" 
                        placeholder="Enter a task" required [(ngModel)]="currentTask.content" name="content">
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="taskForm.form.invalid">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i> Enter
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <app-card *ngFor="let task of tasks" [task]="task" [hidden]="task.archived"></app-card>
        <h5 [hidden]="tasks.length > 0">
            Yo, add some tasks!!!
        </h5>
    </div>
</div>