.container  {
    padding: 3rem 0 0 0;
}
.row {
    margin-bottom: 1.5rem;
}
form {
    text-align: center;
}
.btn,
.btn:disabled:hover {
    background-color: #009688;
    border-color: #009688;
    margin-left: 0.5rem;
}
.btn:hover {
    background-color: #00796b;
    border-color: #00796b;
}
.form-control:focus  {
    border-color: #009688;
}
.btn i {
    margin-right: .5rem;
}
.row h5 {
    text-align: center;
    color: #CCC;
    margin-top: 3rem;
    font-size: 2rem;
}