.card{
    border-radius: 0;
    cursor: pointer;
}
.card,
.card-footer{
    background-color: #ffffa5;
    border: none;
}
.card.completed,
.card.completed .card-footer {
    background-color: #EEE;
    color: #CCC;
}
.card-footer{
    text-align: right;
}
.card-footer i {
    color: red;
}

.card.completed .card-footer i {
    background-color: #EEE;
    color: #CCC;
}

