<div class="col-sm-3">
    <div (click)="archiveTask()" ><i class="fa fa-archive" aria-hidden="true"></i> Archive</div>
    <div class="panel panel-default card" (click)="toggleComplete()" [class.completed]="task.completed" >
        <div class="panel-body card-body">
            <p>{{ task.content }}</p>
        </div>
        <div class="panel-footer card-footer"> 
            <span *ngIf="!task.completed"><i class="fa fa-times" aria-hidden="true"></i> Not Complete</span>
            <span *ngIf="task.completed"><i class="fa fa-check" aria-hidden="true"></i>Complete</span>
        </div>
    </div>
</div>